.canvas1 {}

.background1 {
	position: absolute;
	background-color: black;
	overflow: hidden;
	
}

.canvas2 {
	position: absolute;
}

.background2 {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: black;
	overflow: hidden;
}

.canvas3 {}

.background3 {
	background-color: black;
	opacity: 1;
}

.wall1 {

	overflow: hidden;
	mix-blend-mode: screen;
	position: absolute;
	scrollbar-width: 0px;
}

.wall2 {
	width: 1920px;
	height: 1200px;
	background-color: darkgray;
	mix-blend-mode: screen;
	position: absolute;
}

.wall3 {
	width: 1920px;
	height: 1200px;

	mix-blend-mode: screen;
	position: absolute;
}

#check {
	width: 672px;
	height: 672px;
	transform: translate(660px, 520px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
	overflow: hidden;
}

#notJustForTeachers {
	width: 672px;
	height: 672px;
	transform: translate(1080px, 95px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
	overflow: hidden;
}

#mission {
	width: 672px;
	height: 672px;
	transform: translate(1240px, 460px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
	overflow: hidden;
}

#ratedHighest {
	width: 672px;
	height: 672px;
	transform: translate(602px, 37px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
	overflow: hidden;
}

#butterfly {
	width: 1920px;
	height: 1200px;
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
	overflow: hidden;
}

#lawnMower {
	width: 1920px;
	height: 1200px;
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
	overflow: hidden;
}

#principle0 {
	width: 672px;
	height: 672px;
	transform: translate(74px, 233px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
	overflow: hidden;
}

#ecology {
	width: 672px;
	height: 672px;
	transform: translate(260px, 184px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#friendship {
	width: 672px;
	height: 672px;
	transform: translate(695px, 477px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#conserving {
	width: 672px;
	height: 672px;
	transform: translate(340px, 167px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#responsibleRealEstate {
	width: 672px;
	height: 672px;
	transform: translate(840px, 82px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#grapeInvestments {
	width: 672px;
	height: 672px;
	transform: translate(1110px, 404px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#empoweringAbilities {
	width: 672px;
	height: 672px;
	transform: translate(598px, 324px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#financialLiteracy {
	width: 672px;
	height: 672px;
	transform: translate(1030px, 64px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#groundbreakingCEOs {
	width: 672px;
	height: 672px;
	transform: translate(153px, 294px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#girlsInTech0 {
	width: 672px;
	height: 672px;
	transform: translate(530px, 64px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#girlsInTech1 {
	width: 2000px;
	height: 1000px;
	transform: translate(-49px, 24px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#retiringInequality {
	width: 672px;
	height: 672px;
	transform: translate(1099px, 346px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#title-image {
	transform: translate(1230px, 95px);
	position: absolute;
	mix-blend-mode: screen;
	animation: fade 5s ease-in-out infinite;
}

#proximityLoop01 {
	width: 150px;
	height: 150px;
	mix-blend-mode: screen;
	position: fixed;
	top: 696px;
	left: 348px;
	scale: 2;
}


#proximityLoop02 {
	width: 150px;
	height: 150px;
	mix-blend-mode: screen;
	position: fixed;
	top: 525px;
	left: 900px;
	scale: 2;
	
}

#proximityLoop03 {
	width: 150px;
	height: 150px;
	mix-blend-mode: screen;
	position: fixed;
	top: 850px;
	left: 900px;
	scale: 2;

}

#proximityLoop04 {
	width: 150px;
	height: 150px;
	mix-blend-mode: screen;
	position: fixed;
	top: 362px;
	left: 1330px;
	scale: 2;
	
}

#proximityLoop05 {
	width: 150px;
	height: 150px;
	mix-blend-mode: screen;
	position: fixed;
	top: 820px;
	left: 1476px;
	scale: 2;
	
}

/* Fade-In Effect */
.visible {
	visibility: visible;
	opacity: 1;
  }
  /* Fade-Out Effect */
  .hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 3s, opacity 3s ease-out;
	-webkit-transition: visibility 0s 3s, opacity 3s ease-out;
	-moz-transition: visibility 0s 3s, opacity 3s ease-out;
	-ms-transition: visibility 0s 3s, opacity 3s ease-out;
	-o-transition: visibility 0s 3s, opacity 3s ease-out;
  }


@-webkit-keyframes fadeout {
	90% {
		opacity: 1;
	}
	99% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;

	}
}

@keyframes fadeout {
	90% {
		opacity: 1;
	}
	99% {
		opacity: 0.5;

	}
	100% {
		opacity: 0;

	}
}