.canvas1 {
	
}

.background1 {

	opacity: 1;
}

.canvas2 {
	position: absolute;
}

.background2 {
	position: absolute;
	width: 1920px;
	height: 1200px;
	background-color: black;
	opacity: 0.5;
}

.canvas3 {
	position: absolute;
}

.background3 {
	position: absolute;
	width: 1920px;
	height: 1200px;
	background-color: black;
	opacity: 0.5;
}

.wall1 {
	width: 1920px;
	height: 1200px;
	background-color: darkgray;
	mix-blend-mode: screen;
	position: absolute;
}

.wall2 {
	width: 1920px;
	height: 1200px;
	mix-blend-mode: screen;
	position: absolute;
}

.wall3 {
	width: 1920px;
	height: 1200px;
	mix-blend-mode: screen;
	position: absolute;
}

#celebrateVid {
	width: 600px;
	height: 600px;
	transform: translate(690px, 504px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#check {
	width: 600px;
	height: 600px;
	transform: translate(690px, 504px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#notJustForTeachers {
	width: 600px;
	height: 600px;
	transform: translate(1054px, 124px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#mission {
	width: 600px;
	height: 600px;
	transform: translate(1195px, 434px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#ratedHighest {
	width: 600px;
	height: 600px;
	transform: translate(640px, 79px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#principle0 {
	width: 600px;
	height: 600px;
	transform: translate(170px, 254px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#ecology {
	width: 600px;
	height: 600px;
	transform: translate(260px, 184px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#friendship {
	width: 600px;
	height: 600px;
	transform: translate(695px, 477px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#conserving {
	width: 600px;
	height: 600px;
	transform: translate(340px, 167px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#responsibleRealEstate {
	width: 600px;
	height: 600px;
	transform: translate(840px, 82px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#grapeInvestments {
	width: 600px;
	height: 600px;
	transform: translate(1110px, 404px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#empoweringAbilities {
	width: 600px;
	height: 600px;
	transform: translate(598px, 324px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#financialLiteracy {
	width: 600px;
	height: 600px;
	transform: translate(1030px, 64px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#groundbreakingCEOs {
	width: 600px;
	height: 600px;
	transform: translate(153px, 294px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#girlsInTech0 {
	width: 600px;
	height: 600px;
	transform: translate(530px, 64px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#girlsInTech1 {
	width: 2000px;
	height: 1000px;
	transform: translate(-49px, 24px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#retiringInequality {
	width: 600px;
	height: 600px;
	transform: translate(1099px, 346px);
	position: absolute;
	mix-blend-mode: screen;
	visibility: visible;
	opacity: 1;
}

#title-image {
	transform: translate(1230px, 95px);
	position: absolute;
	mix-blend-mode: screen;
	animation: fade 5s ease-in-out infinite;
}

.done-button {
	position: absolute;
	width: 100px;
	height: 50px;
	transform: translate(1600px, 100px);
}

@keyframes fade {
	0% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	100% {
		opacity: 0;
	}
  }